.nav a { 
    font-size: 18px;
    color: #82b74b; 
}

img { 
    max-width: 100%; 
}

.nav_name { 
    position: block; 
    float: right; 
}

/* #3e4444 #82b74b #405d27 #c1946a */ 
.header-contain { 
    background-image: url("./../images/forest_bg.jpg"); 
    height: 50%;
}

.page-headers { 
    height: 50%;
    width: 30%; 
    margin-left: auto; 
    margin-right: auto; 
    background-color: rgba(51, 170, 51, .7) ; 
    position: relative; 
    top: 20%;
}

.motto { 
    font-size: 18px; 
    text-align: center; 
    font-style: italic; 
}

.header-contain h1 { 
    text-align: center; 
    color: white; 
    font-size: 48px;  
}

.header-contain h1, .header-contain p { 
    position: relative; 
    top: 15%; 
}

* { 
    font-family: 'Roboto', sans-serif;
}


/* colors and font-families */ 

.jumbotron { 
    background-color: #3e4444; 
}

.container-fluid { 
    background-color: #3e4444; 
    color: #3e4444; 
}

.active { 
    background-color: #57bc90; 
}





/* CENTER: ICONS, PHOTO, SUMMARY, CONTACT */ 

.container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-gap: 5%;
    row-gap: 10%;
    height: 5%;
    position: relative; 
    top: 10%; 
}

.icon { 
    font-size: 500%;
    margin-left: 7%; 
}

.b { 
    position: relative; 
    bottom: 110%;
    color: #405d27; 
}

.b h4, .b .icon { 
    text-align: center; 
}

.box_data { 
    -ms-grid-column:1; 
        grid-column-start:1; 
    grid-column-end: 2; 
    -ms-grid-row: 1; 
        grid-row-start:1; 
}

.box_data .icon { 
    margin-left: 30%;
}

.box_plant { 
    -ms-grid-column:2; 
        grid-column-start:2; 
    grid-column-end: 3; 
    -ms-grid-row: 1;
        grid-row-start:1; 
}

.box_plant .icon { 
    margin-left: 35%;
}

.box_debate { 
    -ms-grid-column:3; 
        grid-column-start:3; 
    grid-column-end: 4; 
    -ms-grid-row:1; 
        grid-row-start:1; 
}

.box_debate .icon { 
    margin-left: 30%; 
}

.box_game { 
    -ms-grid-column:4; 
        grid-column-start:4; 
    grid-column-end: 5; 
    -ms-grid-row:1; 
        grid-row-start:1; 
}

.box_game .icon { 
    margin-left: 30%; 
}

.head_summary {  
        -ms-grid-row:2; 
            grid-row-start:2; 
        -ms-grid-column:3; 
            grid-column-start:3; 
        grid-column-end: 5; 
}

.selfie { 
    -ms-grid-row:2; 
        grid-row-start:2; 
    -ms-grid-column:1; 
        grid-column-start:1; 
    grid-column-end: 3; 
    width: 100%;
    height: auto;
}

.p1 { 
    font-size: 18px;
}

.pCont { 
    font-size: 16px; 
    font-weight: bold; 
    margin-left: 2%; 
    color: #3e4444; 
}

#first_line { 
    color: #57bc90; 
    font-weight: bold; 
}

.head_summary h3 { 
    font-weight: bold;
}

.p2 { 
    font-size: 18px; 
}

button { 
    border: none; 
    text-align: center; 
    background-color: #a5a5af; 
    color: black; 
    font-size: 20px;
    font-weight: bold; 
}

#head_port { 
    position: block; 
    float: center; 
    width: 100%; 
    padding-left: 1%; 
    padding-right: 1%;
}

.contact_box { 
    background-image: #a5a5af; 
    margin-left: 3%; 
    margin-top: 10%; 
    padding-top: 2%; 
    border-top: solid #c1946a 1px; 
    border-bottom: solid #c1946a 1px; 
    padding-bottom: 2%; 
}

.contact_box h3 { 
    font-weight: bold; 
    width: 100%; 
}

.contact { 
    color: red; 
    font-weight: bold; 
}

.head_summary a{ 
    color: #015249; 
}


.skillsIndex { 
    background-color: rgba(51, 170, 51, .3); 
    margin-top: 5%; 
    padding: 2%;
    border-top: solid #015249 1px;
    border-bottom: solid #015249 1px; 

    -ms-grid-row:3; 
    grid-row-start:3; 
    -ms-grid-column:1; 
    grid-column-start:1; 
    grid-column-end: 6; 

    width: 60%;

    margin-left: auto; 
    margin-right: auto; 

}

.tool_head { 
    margin-right: auto; 
    margin-left: auto;
    font-size: 22px; 
    font-weight: bold;  
}

.tool_list li { 
    display: inline; 
    padding-right: 8%; 
    font-size: 18px;  
    list-style-type: disc; 
}

#secondlist {
    margin-top: 5%; 
}

.fa { 
    font-size: 22px; 
    margin-right: 2%; 
}

.fa1 { 
    margin-right: 2%;
    font-size: 26px;
}

.bottom_banner { 
    height: 20px; 
    background-color: #3e4444; 
    position: relative; 
    top: 100%;
}


/* responsiveness */ 

@media screen and (max-width: 1000px) {
    html { 
        display: none; 
    }


}

@-moz-document url-prefix() {

    .container { 
        position: relative; 
        top: 20%;
        margin-bottom: 2%;
    }

    .head_summary, img { 
        position: relative; 
        bottom: 20%;
    }

    .bottom_banner { 
        display: none; 
    }
  }

