.port_title { 
    margin-bottom: 5%;
    margin-left: 2%;
}

#port_titlesub { 
    margin-bottom: 0; 
}

.header_b { 
    width: 100%; 
    border-bottom: #015249 solid; 
    margin-bottom: 2%; 
}

.data_heads { 
    text-align: left; 
    font-weight: bold; 
    color: #015249; 
    margin-bottom: 2%; 
    font-size: 28px;
}

.data_headsR { 
    text-align: right; 
    font-weight: bold; 
    color: #015249; 
    margin-bottom: 2%; 
    font-size: 28px; 
}

.port_summary { 
    font-size: 18px; 
    text-align: center; 
    margin-left: 20%; 
    margin-right: 20%; 
    margin-bottom: 5%; 
}

.emphasized { 
    color: red; 
    font-weight: bold; 
    font-size: 20px; 
}

.skills { 
    background-color: rgba(51, 170, 51, .3); 
    margin-top: 5%; 
    padding: 2%;
    border-top: solid #015249 1px;
    border-bottom: solid #015249 1px; 
}

.tool_head { 
    margin-right: auto; 
    margin-left: auto;
    font-size: 22px; 
    font-weight: bold;  
}

.tool_list li { 
    display: inline; 
    padding-right: 8%; 
    font-size: 18px;  
    list-style-type: disc; 
}

#secondlist {
    margin-top: 5%; 
}

.fa { 
    font-size: 22px; 
    margin-right: 2%; 
}

.fa1 { 
    margin-right: 2%;
    font-size: 26px;
}

#ds_chart { 
    margin-left: auto; 
    margin-right: auto; 
    width: 100%; 
    height: auto; 
    margin-bottom: 10%; 
}

#next_body { 
    margin-top: 7%; 
    margin-bottom: 10%; 
}

#resource_tit { 
    text-align: left; 
    font-weight: bold; 
    font-size: 22px;

}

.skills img { 
    float: right; 
    margin-right: 3%; 
    margin-left: 2%; 
}

.college_box { 
    margin-bottom: 7%;         
    height: 103%;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.5fr 0.5fr;
        grid-template-columns: 0.5fr 0.5fr;
    -ms-grid-rows: 0.5fr 1fr 1fr ; 
        grid-template-rows: 0.5fr 1fr 1fr ; 


}

.college_name { 
    width: 50%; 
    border: solid #015249 0.5px; 
    background-color: rgba(51, 170, 51, .7); 
    margin-left: auto; 
    margin-right: auto; 
    margin-bottom: 2%;
    height: 100%;

    -ms-grid-column:1; 
    grid-column-start:1; 
    grid-column-end: 3; 
    -ms-grid-row: 1;
    grid-row-start:1;
}

.college_box img { 
    display: block;
    float: left; 
    margin-top: 10%;

    -ms-grid-column:1; 
    grid-column-start:1; 
    grid-column-end: 2; 
    -ms-grid-row: 2;
    grid-row-start:2;
}

.extracur_box { 
    float:right; 
    width: 100%;
    border-left: solid #015249 0.5px;  
    height: 50%;
    margin-top: 2%;

    -ms-grid-column:2; 
    grid-column-start:2; 
    grid-column-end: 3; 
    -ms-grid-row: 2;
    grid-row-start:2;
}

.extracur_box p { 
    font-size: 16px; 
}

.extracur_box span, .research span { 
    font-style: italic; 
    font-size: 15px;
}
.resource { 
    margin-left: 10%; 
    font-size: 18px; 
    text-align: left; 
}

.research h3 { 
    font-weight: bold; 
    text-align: left; 
}

.research { 
    -ms-grid-column:1; 
    grid-column-start:1; 
    grid-column-end: 3; 
    -ms-grid-row: 3;
    grid-row-start:3;
    height: 40%;
}

.research p { 
    margin-left: 5%; 
}

#workflow { 
    position: relative; 
    bottom: 20%; 
}

.skills { 
    position: relative; 
    bottom: 20%; 
}