.stats_wallpaper { 
    background-image: url("./../images/stats_background.png"); 
    height: 42%; 
    background-position: center; 
    position: relative; 
    bottom: 2.5%;
    z-index: 1; 
}

.port_header { 
    background-color: rgba(22, 22, 161, 0.7);
    color: white; 
}

.port_header h1 { 
    text-align: center; 
    font-weight: bold; 
    font-size: 40px;  
}

.port_header p { 
    text-align: center; 
    color: 	 #33cccc
}

.port_header h1, .port_header p { 
    position: relative; 
    top: 15%; 
}


.Pcontainer { 
    display: -ms-grid;
    display: grid;
    -ie-
    -ms-grid-columns: 0.8fr 1.7fr 1.7fr 0.8fr;
        grid-template-columns: 0.8fr 1.7fr 1.7fr 0.8fr ;
    -ms-grid-rows: 1fr 1fr 1fr 1fr ; 
        grid-template-rows: 1fr 1fr 1fr 1fr ; 
    grid-gap: 5%; 
    height: 270%;
    /* background-image: linear-gradient(to right, #77c9d4, #57bc90);
    border-top: solid #015249 1px; */ 
}

button { 
    border: solid #015249 1px; 
}


.port_1, .port_2 { 
    margin-top: 5%; 
}


.portButt { 
    display: block; 
    margin-left: auto; 
    margin-right: auto;  
    width: 40%;
    margin-bottom: 3%; 
    background-color: #82b74b; 
}

.block_title { 
    text-align: center; 
    font-weight: bold; 
    color: darkred;
}

.block_p { 
    text-align: center; 
}

.block_img { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.port_1 { 
    -ms-grid-column:2; 
        grid-column-start:2; 
    grid-column-end: 3; 
    -ms-grid-row: 1;
        grid-row-start:1; 
}

.port_2 { 
    -ms-grid-column:3; 
        grid-column-start:3; 
    grid-column-end: 4; 
    -ms-grid-row: 1;
        grid-row-start:1; 
}

.port_3 {
    -ms-grid-column:2; 
    grid-column-start:2; 
    grid-column-end: 3; 
    -ms-grid-row: 2;
    grid-row-start:2;  
}

.port_4 { 
    -ms-grid-column:3; 
    grid-column-start:3; 
    grid-column-end: 4; 
    -ms-grid-row: 2;
    grid-row-start:2; 
}


.port_5 { 
    -ms-grid-column:2; 
    grid-column-start:2; 
    grid-column-end: 3; 
    -ms-grid-row: 3;
    grid-row-start:3; 
}

.port_6 { 
    -ms-grid-column:3; 
    grid-column-start:3; 
    grid-column-end: 4; 
    -ms-grid-row: 3;
    grid-row-start:3; 
}


@-moz-document url-prefix() {

    .Pcontainer { 
        margin-top: 10%;
    }

    .portButt { 
        margin-bottom: 0; 
        position: relative; 
        bottom: 25%;
    }

    .block_p, .block_title { 
        position: relative; 
        bottom: 20%;
    }
  }

